@import "common/index";
/*
   * 'reset'
   * 'interpolate'
   * 'variable'
   * 'font'
   * 'footer'
  */

@import "home/index";

/*
   * 'hero'
   * 'about what we do'
   * 'slider'
   * 'let-our-work'
  */


@import "about/index";

@import "service/index";

@import "contact/index";

@import "work/index";

@import "work/project";


@keyframes scale-in {
	0% {
		transform : scaleX(0);
		transform-origin : left;
	}

	to {
		transform : scaleX(1);
		transform-origin : left;
	}
}

@keyframes scale-out {
	0% {
		transform : scaleX(1);
		transform-origin : right;
	}

	to {
		transform : scaleX(0);
		transform-origin : right;
	}
}