@import 'reset';
@import 'interpolate';
@import 'variable';
@import 'font';
@import 'header';
@import 'footer';

body {
  background: #0A0908;
  max-width: 1200px;
  margin: 0 auto;
  overflow-x: hidden;
}
