.page__content {
  &--contact {

    // page header
    &.page__content--header {
      color: var(--onyx);
      @include interpolate("margin-top", 576px, 72px, 992px, 83px, "ease-in");
      @include interpolate("margin-bottom", 576px, 64px, 992px, 80px, "ease-in");

      .page__content--header_title {
        font-family: var(--font-500);
        letter-spacing: 3px;
        @include interpolate("font-size", 576px, 48px, 992px, 180px, "ease-in");
        @include interpolate("line-height", 576px, 58px, 992px, 180px, "ease-in");

        @media(min-width: $desktop) {
          font-size: 200px;
          line-height: 243px;
        }

        @supports (-webkit-text-stroke: 2px var(--onyx)) {
          -webkit-text-stroke: 2px var(--onyx);
          color: transparent;
          -webkit-text-stroke-width: 2px;
          -webkit-text-stroke-color: var(--onyx);
        }
      }
    }

    // intro
    &__intro {

      display: flex;
      align-items: flex-end;
      @include interpolate("margin-bottom", 576px, 60px, 992px, 120px, "ease-in");

      .section-row {
        &__text--heading {
          p {
            span {
              display: block;
            }

            color: var(--white);
            font-family: var(--font-500);
            @include interpolate("font-size", 576px, 38px, 992px, 65px, "ease-in");
            @include interpolate("line-height", 576px, 50px, 992px, 90px, "ease-in");

          }
        }

        &__image-wrapper {
          margin-left: 60px;
        }
      }
    }

    // content
    &__content {
      display: flex;
      justify-content: space-between;

      form {
        width: 542px;
      }
    }
  }
}


.form {
  &-group {
    // * {
    //   border: 1px solid red;
    // }

    position: relative;
    margin-bottom: 50px;

    label {
      width: 100%;
      font-family: var(--font-600);
      font-size: 18px;
      line-height: 30px;
      color: #595D73;

      position: absolute;
      left: 0;
      transform-origin: left top;
      transition: all 150ms ease-in-out;
      text-align: left;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: text;
      overflow: hidden;
      will-change: transform;
      left: 16px;
      right: initial;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;

    }
  }

  &-row {}

  &-control {
    padding: 12px 16px 14px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    font-weight: 400;
    width: 100%;
    &:hover,
    &:focus{
      ~ label{
        top: 0;
        transform: translateY(-106%) scale(0.75);
        cursor: auto;
      }
    }

    &-status {
      font-family: var(--font-600);
      font-size: 14px;
      line-height: 21px;
      color: #595D73;
    }
  }
}
