// header hero
.hero-unit {
	position : relative;
	@include interpolate("padding-top", 576px, 196px, 992px, 194px, "ease-in");
	@include interpolate("padding-bottom", 576px, 100px, 992px, 200px, "ease-in");
	overflow : visible;
	&:before {
		content : "";
		/* TODO : Need to change the width and height, then convert into WEBGL interaction effect */
		z-index : -1;
		display : block;
		position : absolute;
		background-repeat : no-repeat;
		background-color : transparent;
		background-size : cover;
		background-image : url("../images/header-image-mobile.svg");
		width : 100%;
		height : 100%;
		@include interpolate("top", 576px, -100px, 992px, -78px, "ease-in");
		left : 0;
		@media(min-width: $mobile) {
			width : 1414px;
			// height : 1370px;
			left : -460px;
			left : -126px;
			// top : -8%;
			background-image : url("../images/header-image.svg");
			transform : rotate(0deg);
		}
	}

	.page-title {
		font-family : var(--font-500);
		color : var(--white);

		@include interpolate("font-size", 576px, 38px, 992px, 65px, "ease-in");
		@include interpolate("line-height", 576px, 50px, 992px, 90px, "ease-in");
		@include interpolate("margin-bottom", 576px, 40px, 992px, 168px, "ease-in");

		span {
			display : block;
		}

		&-secondary {
			position : relative;
			font-family : var(--font-400);
			font-size : 18px;
			line-height : 30px;
			color : var(--white);
			width : 335px;
			padding-top : 30px;

			span {
				display : inline-block;
			}

			@media(min-width: $mobile) {
				width : 300px;
				margin-left : auto;
				margin-right : 0;

				span {
					display : inline;
				}
			}

			&:before {
				content : "";
				display : block;
				background : #7de2d1;
				width : 30px;
				height : 4px;
				position : absolute;
				top : 0;
				left : 0;
			}
		}
	}
}

// home page about
.about-what-we-do {
	opacity : 1;
	transition : all 1.2s ease;
	@include interpolate("margin-bottom", 576px, 90px, 992px, 206px, "ease-in");
	.accordion {
		&-menu {
			position : relative;
			cursor : pointer;
			display : flex;
			align-items : center;
			.wedo {
				&-title {
					transition : all 200ms ease;
					color : var(--white);
					font-family : var(--font-600);
					letter-spacing : 3px;
					position : relative;
					@include interpolate("font-size", 576px, 36px, 992px, 100px, "ease-in");
					@include interpolate("line-height", 576px, 54px, 992px, 120px, "ease-in");
					color : var(--blue-violet);
					transition : all 200ms ease;
					@supports (-webkit-text-stroke: 1px var(--blue-violet)) {
						-webkit-text-stroke : 1px var(--blue-violet);
						color : transparent;
						/* Will override color (regardless of order) */
						-webkit-text-stroke-width : 1px;
						-webkit-text-stroke-color : var(--blue-violet);
					}
					@media(min-width: $tablet) {
						@supports (-webkit-text-stroke: 2px var(--blue-violet)) {
							-webkit-text-stroke : 2px var(--blue-violet);
							color : transparent;
							/* Will override color (regardless of order) */
							-webkit-text-stroke-width : 2px;
							-webkit-text-stroke-color : var(--blue-violet);
						}
					}
					&:hover {
						transition : all 0.5s ease-out;
						-webkit-text-stroke-color : transparent;
						-webkit-text-stroke-width : 0;
						-webkit-text-stroke : 0;
						transition : all 200ms ease;
						color : var(--blue-violet);
					}
				}
			}
		}
		&-content {
			opacity : 0;
			visibility : hidden;
			height : 0;
			display : none;
			max-width : 778px;
			font-family : var(--font-500);
			@include interpolate("font-size", 576px, 18px, 992px, 24px, "ease-in");
			@include interpolate("line-height", 576px, 30px, 992px, 36px, "ease-in");
			color : var(--white);
			mix-blend-mode : normal;
			transition : all 0.26s ease-in-out;
			transform : translateY(-20px);
			margin-top : 20px;
		}
		&-group {
			position : relative;
			@include interpolate("margin-bottom", 576px, 10px, 992px, 40px, "ease-in");
			&:last-child {
				.accordion-menu {
					max-width : 244px;
					@media(min-width: 432px) {
						max-width : initial;
					}
				}
			}
			.button {
				// display : none;
				width : 20px;
				height : auto;
				margin-left : 10px;
				transition : all 0.26s ease-in-out;
				@media(min-width: $tablet) {
					// 	display : block;
					width : 28px;
					margin-left : 30px;
				}
				svg {
					width : 100%;
					height : 100%;
				}
			}
			&:last-child {
				@media(min-width: 400px) {
					padding-right : 28px;
				}
				@media(min-width: 432px) {
					padding-right : 0;
				}
				.button {
					position : absolute;
					// position : static;
					bottom : 14px;
					right : 26.5%;
					right : 0;

					@media(min-width: 432px) {
						position : static;
					}
				}
			}
			&.active {
				.wedo {
					&-title {
						transition : all 0.5s ease-out;
						-webkit-text-stroke-color : transparent;
						-webkit-text-stroke-width : 0;
						-webkit-text-stroke : 0;
						transition : all 200ms ease;
						color : var(--blue-violet);
					}
				}
				.button {
					transform : rotate(180deg);
					transition : all 0.26s ease-in-out;
				}
				.accordion-content {
					display : block;
					opacity : 1;
					visibility : visible;
					height : 100%;
					transform : translateY(0px);
					margin-bottom : 20px;
					@media(min-width: $tablet) {
						margin-bottom : 0;
					}
				}
			}
		}
	}

	.link--text {
		@include interpolate("margin-top", 576px, 30px, 992px, 40px, "ease-in");
		@include interpolate("font-size", 576px, 20px, 992px, 24px, "ease-in");
		@include interpolate("line-height", 576px, 30px, 992px, 36px, "ease-in");
		display : inline-block;
		font-family : var(--font-500);
		color : var(--white);
		position : relative;
		padding-bottom : 5px;

		&:after {
			content : "";
			display : block;
			width : 100%;
			height : 1px;
			background-color : var(--white);
			content : "";
			position : absolute;
			bottom : 0;
			left : 0;
			will-change : width, transition;
			transform-origin : right;
		}
		&:hover {
			&:after {
				opacity : 1;
				animation : 0.35s ease-out 0s scale-out forwards,0.35s ease-out 0.35s scale-in forwards;
			}
		}
	}
}